* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container {
    width: 70%;
    /* max-width: 760px; */
    margin: 40px auto;
    padding: 0 20px 40px;
}

.header h1 {
    text-align: center;
}

.editor {
    font-family: monospace;
    min-height: 60vh;
    padding: 18px;
    line-height: 1.25;
}

.editor:focus {
    outline: none;
}

/* .editor:empty::before {
    content: attr(data-placeholder);
    color: #9a9a9a;
} */

.footer {
    text-align: center;
}